* {
  margin: 0;
  padding: 0;
}

header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana, Geneva, sans-serif;
  background-color: lightgrey;
  padding: 10px;
}

header .kanan {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .kanan a {
  text-decoration: none;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 16px;
  color: black;
}

header img {
  display: inline-flex;
  height: 30px;
}

header .kiri p {
  font-size: 16px;
}

body {
  margin: 0;
}

footer {
  display: none;
}

@media only screen and (max-width: 720px) {
  footer {
    display: flex;
    height: 25px;
    width: 100%;
    background-color: lightgray;
    font-family: Verdana, Geneva, sans-serif;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    /* position: absolute; */
    bottom: 0px;
    margin: 0;
  }

  header {
    justify-content: center;
  }

  header .kanan .dataProvinsi {
    text-align: center;
  }
  header .kanan a {
    padding-left: 15px;
    padding-right: 15px;
  }

  header .kiri {
    display: none;
  }
}

@media only screen and (max-width: 320px) {
  header img {
    /* display: none; */
    height: 20px;
  }
}
